@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --spacing: 0;
  --color1: 0, 0, 0;
  --circle-size: 80%;
  --blending: hard-light;
  --opacity: 0.6;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
}

#nav-overlay {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.09);
  border-top: 2px solid rgba(225, 225, 225, 0.4);
  border-left: 2px solid rgba(225, 225, 225, 0.5);
}

.glass-bg {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  box-shadow: inset 0 0 0 100vh rgba(255, 255, 255, 0.09);
  border-top: 2px solid rgba(225, 225, 225, 0.7);
  border-left: 2px solid rgba(225, 225, 225, 0.4);
  border-right: 2px solid rgba(225, 225, 225, 0.4);
  border-bottom: 2px solid rgba(225, 225, 225, 0.2);
}

.project-card:nth-child(1), .project-card-two:nth-child(1), .project-card-three:nth-child(1) {
  top: calc(var(--spacing));
}
.project-card:nth-child(2), .project-card-two:nth-child(2), .project-card-three:nth-child(2) {
  top: 1.5rem
}
.project-card:nth-child(3), .project-card-two:nth-child(3), .project-card-three:nth-child(3) {
  top: 3rem
}
.project-card:nth-child(4), .project-card-two:nth-child(4), .project-card-three:nth-child(4) {
  top: 4.5rem
}
.project-card:nth-child(5), .project-card-two:nth-child(5), .project-card-three:nth-child(5) {
  top: 6rem
}

#gradientBg {
  background: linear-gradient(40deg, black, black);
}

.gradient-container {
  filter: url(#goo) blur(40px);
}

.g1 {
  background: radial-gradient(
      circle at center,
      rgba(var(--color1), var(--opacity)) 0,
      rgba(var(--color1), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: center center;
  opacity: 1;
}

.g2 {
  background: radial-gradient(
      circle at center,
      rgba(var(--color1), var(--opacity)) 0,
      rgba(var(--color1), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);

  transform-origin: calc(50% - 400px);
  opacity: 1;
}

.g3 {
  background: radial-gradient(
      circle at center,
      rgba(var(--color1), var(--opacity)) 0,
      rgba(var(--color1), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2 + 280px);
  left: calc(50% - var(--circle-size) / 2 + 500px);

  transform-origin: calc(50% + 400px);
  opacity: 1;
}

.g4 {
  background: radial-gradient(
      circle at center,
      rgba(var(--color1), var(--opacity)) 0,
      rgba(var(--color1), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);

  transform-origin: calc(50% - 200px);
  opacity: 0.7;
}

.g5 {
  background: radial-gradient(
      circle at center,
      rgba(var(--color1), var(--opacity)) 0,
      rgba(var(--color1), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size));
  left: calc(50% - var(--circle-size));

  transform-origin: calc(50% - 800px) calc(50% + 200px);
  opacity: 1;
}

.aboutPageCards li {
  list-style-position: inside;
  text-indent: -1.2em;
}

.aboutPageCards ul {
  padding-left: 1.2em;
}